<a href="https://colab.research.google.com/github/yourname857/E-Commerce-Publik-Dataset/blob/main/Proyek_Analisis_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: [E-Commerce Publik Dataset]
- **Nama:** [Marvi Yoga Pratama]
- **Email:** [mc222d5y1316@student.devacademy.id]
- **ID Dicoding:** [mc222d5y1316]

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1: Bagaimana distribusi jumlah transaksi berdasarkan kategori produk?
- Pertanyaan 2: Bagaimana tren jumlah transaksi sepanjang waktu?

## Import Semua Packages/Library yang Digunakan

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [11]:
customers_df = pd.read_csv("https://raw.githubusercontent.com/yourname857/E-Commerce-Publik-Dataset/refs/heads/main/customers_dataset.csv")
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

**Insight:**
- Pada langkah ini mengambil file CSV dari URL dan memuatnya ke dalam DataFrame bernama customers_df
- Kemudian menampilkan 5 baris pertama dari dataset untuk melihat strukturnya yang ada dalam dataset.

### Assessing Data

In [19]:
print(customers_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

**Insight:**
- Menampilkan tipe data dan jumlah data di setiap kolom dari dataset customers_df.info.

In [18]:
print(customers_df.describe())

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

**Insight:**
- Menampilkan statistik dasar seperti rata-rata dan standar deviasi dari dataset customers_df.describe.

In [16]:
print(customers_df.isnull().sum())

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

**Insight:**
- Mengecek jumlah data yang hilang (missing values) di setiap kolom dari dataset customers_df.isnull.

### Cleaning Data

In [27]:
customers_df = customers_df.drop_duplicates(subset='customer_id')

**Insight:**
- Menghapus jika ada baris duplikat berdasarkan customer_id.

In [28]:
customers_df = customers_df.dropna()

**Insight:**
- Menghapus baris yang memiliki nilai kosong.

In [29]:
customers_df['customer_zip_code_prefix'] = customers_df['customer_zip_code_prefix'].astype(str)

**Insight:**
- Memastikan kolom customer_zip_code_prefix bertipe string, karena kode pos bukan angka untuk perhitungan.

In [30]:
print(customers_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB
None

**Insight:**
- Perubahan yang terjadi


1.  Jumlah baris bisa berkurang.
Jika ada duplikat, maka jumlah baris (RangeIndex) akan berkurang setelah drop_duplicates().
2. Tidak Ada Missing Values. Setelah dropna(), semua kolom akan memiliki non-null values yang sama dengan jumlah total baris, artinya tidak ada nilai yang hilang.
3. Tipe Data Lebih Sesuai. Kolom customer_zip_code_prefix yang awalnya mungkin integer (int64) sekarang sudah berubah menjadi string (object), sesuai dengan yang kita ubah menggunakan astype(str).

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2